<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">VoxelEngine</a>
    </div>
</div>

<nav class="flex-column">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="tests">Tests</NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="render-path">Render Path</NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="vr-prototype-2d">VR Prototype 2D</NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="vr-prototype-xr">VR Prototype XR</NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="vr-prototype-world">VR Prototype World</NavLink>
    </div>
</nav>
